@font-face {
    font-family: 'exo_2bold_condensed';
    src: url('../fonts/EXO2_expanded_compressed/exo2-boldcondensed-webfont.eot');
    src: url('../fonts/EXO2_expanded_compressed/exo2-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/EXO2_expanded_compressed/exo2-boldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/EXO2_expanded_compressed/exo2-boldcondensed-webfont.woff') format('woff'),
         url('../fonts/EXO2_expanded_compressed/exo2-boldcondensed-webfont.ttf') format('truetype'),
         url('../fonts/EXO2_expanded_compressed/exo2-boldcondensed-webfont.svg#exo_2bold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2light_condensed';
    src: url('../fonts/EXO2_expanded_compressed/exo2-lightcondensed-webfont.eot');
    src: url('../fonts/EXO2_expanded_compressed/exo2-lightcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/EXO2_expanded_compressed/exo2-lightcondensed-webfont.woff2') format('woff2'),
         url('../fonts/EXO2_expanded_compressed/exo2-lightcondensed-webfont.woff') format('woff'),
         url('../fonts/EXO2_expanded_compressed/exo2-lightcondensed-webfont.ttf') format('truetype'),
         url('../fonts/EXO2_expanded_compressed/exo2-lightcondensed-webfont.svg#exo_2light_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2medium_condensed';
    src: url('../fonts/EXO2_expanded_compressed/exo2-mediumcondensed-webfont.eot');
    src: url('../fonts/EXO2_expanded_compressed/exo2-mediumcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/EXO2_expanded_compressed/exo2-mediumcondensed-webfont.woff2') format('woff2'),
         url('../fonts/EXO2_expanded_compressed/exo2-mediumcondensed-webfont.woff') format('woff'),
         url('../fonts/EXO2_expanded_compressed/exo2-mediumcondensed-webfont.ttf') format('truetype'),
         url('../fonts/EXO2_expanded_compressed/exo2-mediumcondensed-webfont.svg#exo_2medium_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2regular_condensed';
    src: url('../fonts/EXO2_expanded_compressed/exo2-regularcondensed-webfont.eot');
    src: url('../fonts/EXO2_expanded_compressed/exo2-regularcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/EXO2_expanded_compressed/exo2-regularcondensed-webfont.woff2') format('woff2'),
         url('../fonts/EXO2_expanded_compressed/exo2-regularcondensed-webfont.woff') format('woff'),
         url('../fonts/EXO2_expanded_compressed/exo2-regularcondensed-webfont.ttf') format('truetype'),
         url('../fonts/EXO2_expanded_compressed/exo2-regularcondensed-webfont.svg#exo_2regular_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo_2semi_bold_condensed';
    src: url('../fonts/EXO2_expanded_compressed/exo2-semiboldcondensed-webfont.eot');
    src: url('../fonts/EXO2_expanded_compressed/exo2-semiboldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/EXO2_expanded_compressed/exo2-semiboldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/EXO2_expanded_compressed/exo2-semiboldcondensed-webfont.woff') format('woff'),
         url('../fonts/EXO2_expanded_compressed/exo2-semiboldcondensed-webfont.ttf') format('truetype'),
         url('../fonts/EXO2_expanded_compressed/exo2-semiboldcondensed-webfont.svg#exo_2semi_bold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;

}


html{
    background-color: #555;
}

.body {
  width: 1200px;
  height: 1920px;
  background-color: #111111;
    position: relative;
}

.control{
    position: absolute;
    top: 25px; left: 25px;
    width: 90px; height: 105px;
}

.controlsCar {
  position: absolute;
  top: -1920px;
  left: 0px;
  z-index: 1100; 
}

.micBottombar{
    transform: translateX(-46px);
    position: absolute;
    left: 50%; top: 14px;
    width: 120px; height: 120px;
}

.micBottombar img{
    position: absolute;
}

.crossClose {
  position: absolute;
  top: 118px;
  left: 56px; }

.topbar {
  height: 60px;
  width: 1200px;
  line-height: 60px; }

.bottombar {
  height: 252px;
  width: 1200px;
  position: absolute;
  top: 1680px; }

.elmts img {
  width: 100%;
  height: auto; }

.content {
  position: relative;
  width: 1200px;
  height: 1610px; 
}

.one {
  position: absolute;
  width: 595px;
  height: 420px;
  left: 0;
  top: 0; }

.two {
  position: absolute;
  width: 595px;
  height: 420px;
  left: 605px;
  top: 0; }

.full {
  position: absolute;
  width: 1200px;
  height: 745px;
  left: 0;
  top: 430px; }

.three {
  position: absolute;
  width: 595px;
  height: 420px;
  left: 0;
  top: 1185px;
}

.four {
  position: absolute;
  width: 595px;
  height: 420px;
  left: 605px;
  top: 1185px; }

.draggable {
  width: 100%;
  height: 100%; }

.boxContainer{
    position: absolute;
    width: 80%; height: 11px;
    top: 16px; left: 17%;
    overflow: hidden;
}

.boxContainerFull{
    position: absolute;
    width: 90%; height: 11px;
    top: 4%;
    left: 2%;
    overflow: hidden;
}

.boxContainerControlSettings{
    position: absolute;
    width: 190px; height: 11px;
    bottom: 550px;
    left: 56px;
    overflow: hidden;
}

.boxContainerLight1{
    position: absolute;
        width: 630px;
    height: 11px;
    top: 238px;
    right: 46px;
    overflow: hidden;
}

.boxContainerLight2{
    position: absolute;
        width: 630px;
    height: 11px;
    top: 331px;
    right: 46px;
    overflow: hidden;
}



.boxContainerVertical{
    position: absolute;
    width: 11px; height: 80%;
    top: 10%; left: 75px;
    overflow: hidden;
}

.box1{
    width: 80px; height: 4px;
    background-color: #1c7174;
    position: absolute;
    top: 3px;
}

.box2{
    width: 15px; height: 4px;
    background-color: #00f9fd;
    position: absolute;
    top: 3px;
}

.box3{
    width: 40px; height: 1px;
    background-color: #00f9fd;
    position: absolute;
    top: 5px;
}

.box1V{
     width: 4px; height: 40px;
    background-color: #1c7174;
    position: absolute;
    left: 4px; bottom: -40px;
}

.globalMic{
    width: 1200px; height: 1920px;
    position: absolute;
    display: none;
    top: -1920px;
    left: 0px;
    z-index: 1110; 
    background-color: rgba(0,41,55,0.9);
}


.leMic{
    position: absolute;
    width: 731px; height: 731px;
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
}

.leMic img{
    position: absolute;
}

.listeningText{
    position: absolute;
    transform: translateX(-50%);
    bottom: 500px;
    left: 50%; 
}

.crossCloseMic {
  position: absolute;
  top: 35px;
  left: 46px;
}

.moveButton{
    position: absolute;
    width: 135px; height: 135px;
    bottom: -5px; right: 10px;
}

.moveButton img{
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
    position: absolute;
}


/*******************************************************************************
****************************** NAV BARRE ***************************************
*******************************************************************************/

.iconSeatLeft{
  position: absolute;
  top: 43px;
  left: 215px;
  width: 39px;
  height: 63px;
  background-image: url('../img/icons_nav-bar/seat_off.png');
  background-repeat: no-repeat;
}
.iconSeatLeft.on1{
  background-image: url('../img/icons_nav-bar/seat_on1.png');
}
.iconSeatLeft.on2{
  background-image: url('../img/icons_nav-bar/seat_on2.png');
}
.iconSeatLeft.on3{
  background-image: url('../img/icons_nav-bar/seat_on3.png');
}


.iconFrontLeft{
  position: absolute;
  top: 43px;
  left: 331px;
  width: 49px;
  height: 63px;
  background-image: url('../img/icons_nav-bar/front_on.png');
  background-repeat: no-repeat;
}
.iconFrontLeft.off{
  background-image: url('../img/icons_nav-bar/front_off.png');
}


.iconAirflowLeft{
  position: absolute;
  top: 43px;
  left: 455px;
  width: 58px;
  height: 63px;
  background-image: url('../img/icons_nav-bar/airflow_on.png');
  background-repeat: no-repeat;
}
.iconAirflowLeft.off{
  background-image: url('../img/icons_nav-bar/airflow_off.png');
}


.iconVentRight{
  position: absolute;
  top: 43px;
  left: 710px;
  width: 52px;
  height: 63px;
  background-image: url('../img/icons_nav-bar/vent_off.png');
  background-repeat: no-repeat;
}
.iconVentRight.on1{
  background-image: url('../img/icons_nav-bar/vent_on1.png');
}
.iconVentRight.on2{
  background-image: url('../img/icons_nav-bar/vent_on2.png');
}
.iconVentRight.on3{
  background-image: url('../img/icons_nav-bar/vent_on3.png');
}
.iconVentRight.on4{
  background-image: url('../img/icons_nav-bar/vent_on4.png');
}
.iconVentRight.on5{
  background-image: url('../img/icons_nav-bar/vent_on5.png');
}

.iconRearRight{
  position: absolute;
  top: 43px;
  left: 827px;
  width: 39px;
  height: 63px;
  background-image: url('../img/icons_nav-bar/rear_on.png');
  background-repeat: no-repeat;
}
.iconRearRight.off{
  background-image: url('../img/icons_nav-bar/rear_off.png');
}

.iconSeatRight{
  position: absolute;
  top: 43px;
  left: 941px;
  width: 39px;
  height: 63px;
  background-image: url('../img/icons_nav-bar/seat_off.png');
  background-repeat: no-repeat;
}
.iconSeatRight.on1{
  background-image: url('../img/icons_nav-bar/seat_on1.png');
}
.iconSeatRight.on2{
  background-image: url('../img/icons_nav-bar/seat_on2.png');
}
.iconSeatRight.on3{
  background-image: url('../img/icons_nav-bar/seat_on3.png');
}


.onOff{
  position: absolute;
  top: 29px;
  left: 1061px;
  width: 118px;
  height: 68px;
  background-image: url('../img/icons_nav-bar/on-off.png');
  background-repeat: no-repeat;
}

.buttonOnOff{
  position: absolute;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
  z-index: 5;
  background-image: url('../img/icons_nav-bar/button.png');
  background-repeat: no-repeat;
}

.textButtonOnOff{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  transform: translate(-50%,-50%);
  z-index: 10;
  background-image: url('../img/icons_nav-bar/on.png');
  background-repeat: no-repeat;
}

.textButtonOnOff.off{
  background-image: url('../img/icons_nav-bar/off.png');
}


.temperatureLeft{
  position: absolute;
  top: 152px;
  left: 30px;
  width: 393px;
  height: 51px;
}

.temperatureLeft .down{
  position: absolute;
  top: 0;
  left: 0;
}

.temperatureLeft .up{
  position: absolute;
  top: 0;
  right: 0;
}

.line{
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #007971;
  top: 50%;
  transform: translate(0,-50%);
}


.buttonLeft{
  position: absolute;
  width: 38px;
  height: 38px;
  background-image: url('../img/icons_nav-bar/pointer.png');
  background-repeat: no-repeat;
  left: 175px;
  top: calc(50% - 18px);
}

.buttonRight{
  position: absolute;
  width: 38px;
  height: 38px;
  background-image: url('../img/icons_nav-bar/pointer.png');
  background-repeat: no-repeat;
  left: 70px;
  top: calc(50% - 18px);
}

.zone-drag{
  height: 100%;
  width: calc(100% - 102px);
  margin-left: 51px;
  position: relative;
}


.temperatureRight{
  position: absolute;
  top: 152px;
  right: 30px;
  width: 393px;
  height: 51px;
}

.temperatureRight .down{
  position: absolute;
  top: 0;
  right: 0;
}

.temperatureRight .up{
  position: absolute;
  top: 0;
  left: 0;
}

.textLeft{
  position: absolute;
  font-family: exo_2bold_condensed;
  font-size: 32pt;
  color: #00f9fd;
  top: 209px;
  left: 481px;
  margin: 0;
  transform: translate(-100%, -100%);
}

.textRight{
  position: absolute;
  font-family: exo_2bold_condensed;
  font-size: 32pt;
  color: #00f9fd;
  top: 209px;
  left: 716px;
  margin: 0;
  transform: translate(0%, -100%);
}

.musicPlayer{
    width: 80px; height: 80px;
    position: absolute;
}

.musicPlayer img{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
    width: auto; height: auto;
}

.music4x2{
    top: 136px; left: 300px;    
}


/*

    Car controls boutons

*/

.light1{
    position: absolute;
    width: 160px; height: 62px;
    top: 250px;
}

.light2{
    position: absolute;
    width: 160px; height: 62px;
    top: 343px;
}

.offL, .drlL{left: 524px;}

.parkingL, .fogL{left: 684px;}

.autoL, .domeL{left: 844px;}

.onL, .ambientL{left: 994px;}

.power{
    position: absolute;
    bottom: 293px;
    right: 47px;
    width: 100px; height: 130px;
}


.controlSettings{
    position: absolute;
    width: 189px;    height: 215px;
    bottom: 334px;    left: 57px;
}

.controlSettings > div{
    width: 189px; height: 54px;
}

.lockedCar{
    position: absolute;
}

.frontTrunk{
    width: 93px; height: 132px;
    top: 559px; left: 553px;
}

.leftD{
    width: 184px; height: 109px;
    top: 914px; left: 265px;
}

.open{
    width: 199px; height: 141px;
    top: 924px; left: 500px;
}

.rightD{
    width: 184px; height: 109px;
    top: 914px; right: 267px;
}

.carge{
    width: 145px; height: 187px;
    bottom: 479px; left: 315px;
}

.trunk{
    width: 114px; height: 102px;
    bottom: 596px; left: 545px;
}

.volume{
    display: none;
    width: 1200px; height: 1920px;
    position: absolute;
    top: 0; left: 0;
    z-index: 9999;
    background-color: rgba(11,11,11,0.8);
}

.volume img{
    width: auto; height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
}